PORT=3000
BELL_SCHEDULE_URL=https://www.lincolnhs.org/apps/bell_schedules/printerfriendly.jsp
BELL_SOURCE_PAGE_URL=https://www.lincolnhs.org/apps/bell_schedules/
EVENTS_ICS_URL=https://www.lincolnhs.org/apps/events/ical/?id=0
EVENTS_PAGE_URL=https://www.lincolnhs.org/apps/events/
SCHOOL_TIMEZONE=America/Los_Angeles
BELL_CACHE_MINUTES=20
EVENT_CACHE_MINUTES=10
SOURCE_TIMEOUT_MS=10000
MANUAL_REFRESH_COOLDOWN_SECONDS=60
